{# Service-ports são gerados implicitamente pela combinação de service_vlan +
   whitelist + cs profile. Deixamos este template vazio mas mantemos o
   arquivo para futuras extensões (ex: vlan-translate explícito). #}
